{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Distance between two players</h3>
                <p class='text-muted'>Shortest path algorithm between player nodes specified in the form.
                Under the hood it uses Dijkstra's algorithm on the constructed graph. The base graph consist of all player and club nodes.
                As it uses connections from all years, there is a possibility to jump between players playing in the club at a different year.
                </p>
                <div class="form-group">
                    {{ form.first_player.label(class="form-control-label") }}
                    {% if form.first_player.errors %}
                        {{ form.first_player(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_player.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_player(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.second_player.label(class="form-control-label") }}
                    {% if form.second_player.errors %}
                        {{ form.second_player(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.second_player.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.second_player(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block response %}
    {% if result %}
        <div class="content-section">
            <h4>Distance between players</h4>
            <br>
                <table class="table">
                  <thead>
                    <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Node name</th>
                        <th scope="col">Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in result %}
                        <tr>
                            <td>{{item['label']}}</td>
                            <td>{{item['node_name']}}</td>
                            <td>{{item['cost']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    {% endif %}
{% endblock response %}
