<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>FIFA players - {{ title }}</title>
    {% else %}
        <title>FIFA players</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content-section">
            <h1>Data Science with knowledge graphs - neo4j</h1>
              <h4>Data mining on FIFA players dataset</h4>
              <br><br>
              <p class='text-muted'>This page connects via Flask and Py2neo libraries to neo4j database.
                  In the neo4j there are graphs representing FIFA players dataset.
                  The dataset is available here:<a class="ml-2" href="https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset">FIFA Players dataset</a>.
                  It consist of players statistics in years 2015-2020.
                  The purpose of the application is to analyze and demonstrate the possibilities of Data Science plugin for neo4j graph database.</p>
              <p class='text-muted'>The list of possible queries and questions, that you can ask the database</p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('player_stats') }}">Player statistics</a>
                    - show statistics about certain player</p>
                </li>
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('club_stats') }}">Club statistics</a>
                    - show statistics about certain club</p>
                </li>
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('similar') }}">Most similar player</a>
                    - search the player most similar to another player</p>
                </li>
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('random_walk') }}">Random walk on players and ability tags</a>
                    - GDS random walk algorithm from the specified player</p>
                </li>
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('distance') }}">Distance between players</a>
                    - GDS shortest path algorithm between players and the clubs</p>
                </li>
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('page_rank') }}">Page rank on ability tags</a>
                    - GDS page rank algorithm used on players and their ability tags</p>
                </li>
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('money_stats') }}">Money statistics for the club between years</a>
                    - statistics that involve value and wage of all, core, new and old players between certain years</p>
                </li>
                <li class="list-group-item list-group-item-light">
                    <p style="color: #444444"><a class="ml-2" href="{{ url_for('rotation') }}">Player rotation in club between years</a>
                    - rotation of players in the certain club in between certain years</p>
                </li>
              </ul>
              <br>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
