<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>FIFA players - {{ title }}</title>
    {% else %}
        <title>FIFA players</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block response %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Other queries</h3>
            <p class='text-muted'>List of other questions that you might ask the neo4j database
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('player_stats') }}">Player statistics</a></li>
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('club_stats') }}">Club statistics</a></li>
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('similar') }}">Most similar player</a></li>
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('random_walk') }}">Random walk</a></li>
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('distance') }}">Shortest path</a></li>
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('page_rank') }}">Page rank</a></li>
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('money_stats') }}">Money statistics</a></li>
                <li class="list-group-item list-group-item-light"><a class="ml-2" href="{{ url_for('rotation') }}">Player rotation</a></li>
              </ul>
            </p>
            <p class='text-muted'>Or if you are tired of queries, you can go back to the<a class="ml-2" href="{{ url_for('home') }}"><b>Home page</b></a></p>
          </div>
        </div>
      </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
