{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Money stats for club between years</h3>
                <p class='text-muted'>Calculates the statistics that involve total value and wage of players connected to the specified club.
                Based on the years defined in the form, where end_year > start_year, the algorithm extracts two sets of club players.
                Then, it further splits into three more sets established on the intersection of the previous two sets of players: core_players, old_players and new_players.
                core_players are present in the club at both start year and end year, old_players only at a start year and new_players only at an end year.
                </p>
                <p class='text-muted'>Based on the created statistics, algorithm can decide if the club invests heavily in the core players or not.
                </p>
                <p class='text-muted'>
                <b>Note</b>: Money statistics are not available for the year 2015.
                </p>
                <div class="form-group">
                    {{ form.club_name.label(class="form-control-label") }}
                    {% if form.club_name.errors %}
                        {{ form.club_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.club_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.club_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.start_year.label(class="form-control-label") }}
                    {% if form.start_year.errors %}
                        {{ form.start_year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start_year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.end_year.label(class="form-control-label") }}
                    {% if form.end_year.errors %}
                        {{ form.end_year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.end_year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.end_year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block response %}
    {% if result %}
        <div class="content-section">
            <h4>Club money stats</h4>
            <br>
            {% if forge %}
                <p class='text-muted'>This club invests heavily in the core players</p>
            {% else %}
                <p class='text-muted'>This club do not invest much in core players</p>
            {% endif %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Stat</th>
                      <th scope="col">Money in EUR</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for key, value in result.items() %}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    {% endif %}
{% endblock response %}
