{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Page rank on ability tags</h3>
                <p class='text-muted'>Page rank is an algorithm that measures the influence or importance of nodes in a directed graph.
                The score is based on the number of incoming relationships and the importance of the corresponding source nodes.
                A graph on which page rank runs, consist of all player and ability tag nodes. As the relationships between players and nodes are directed,
                represented in the form (Player)-[HAS_SKILL]->(Tag), the algorithm measures popularity of ability tags.
                </p>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block response %}
    {% if result %}
        <div class="content-section">
            <h4>Page rank</h4>
            <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Ability name</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in result %}
                        <tr>
                            <td>{{item['name']}}</td>
                            <td>{{item['score']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    {% endif %}
{% endblock response %}
