{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Player stats</h3>
                <p class='text-muted'>Shows all stats about the player specified by the full name in the form. The name must be exactly the same as in the database.
                Statistics vary between years, so there is a need to set a certain year from range 2015-2020.</p>
                <div class="form-group">
                    {{ form.player_name.label(class="form-control-label") }}
                    {% if form.player_name.errors %}
                        {{ form.player_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.player_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.player_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}
                    {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block response %}
    {% if result %}
        <div class="content-section">
            <h4>Player stats</h4>
            <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Skill name</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dict_item in result %}
                        {% for key, value in dict_item.items() %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                       {% endfor %}
                    {% endfor %}
                </tbody>
                </table>
        </div>
    {% endif %}
{% endblock response %}
