{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Random walk starting from</h3>
                <p class='text-muted'>Random walk algorithm starts in the player node specified in the form.
                It provides random paths from the graph consisting of all player and ability tag nodes. Always starting in the player node,
                it chooses a random neighbor to navigate to. Number of steps must be specified as an integer from range 1-999.
                </p>
                <div class="form-group">
                    {{ form.player_name.label(class="form-control-label") }}
                    {% if form.player_name.errors %}
                        {{ form.player_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.player_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.player_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.steps.label(class="form-control-label") }}
                    {% if form.steps.errors %}
                        {{ form.steps(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.steps.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.steps(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block response %}
    {% if result %}
        <div class="content-section">
            <h4>Random walk</h4>
            <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Label</th>
                      <th scope="col">Node name</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in result %}
                        <tr>
                            <td>{{item['label']}}</td>
                            <td>{{item['node_name']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    {% endif %}
{% endblock response %}
