{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Most similar player to</h3>
                <p class='text-muted'>Searches the database for the player most similar to one specified in the form.
                Also there is a need to specify the year from range 2015-2020, since the statistics vary between years.
                The algorithm calculates the dissimilarity score between all players in the database.
                The dissimilarity algorithm consist of two stages. The first stage searches for player nodes with the lowest sum of absolute differences on stats.
                The second stage is taking best 10 nodes and adds the node dissimilarity based on Jaccard similarity coefficient.
                Only works for field players (not goalkeepers).
                </p>
                <p class='text-muted'>
                <b>Warning!</b> Calculations are very heavy and might take up to 10 minutes.
                </p>
                <div class="form-group">
                    {{ form.player_name.label(class="form-control-label") }}
                    {% if form.player_name.errors %}
                        {{ form.player_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.player_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.player_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}
                    {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block response %}
    {% if result %}
        <div class="content-section">
            <h4>Page rank</h4>
            <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Player name</th>
                      <th scope="col">Overall stat</th>
                      <th scope="col">Dissimilarity score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in result %}
                        <tr>
                            <td>{{item['name']}}</td>
                            <td>{{item['overall']}}</td>
                            <td>{{item['diss']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    {% endif %}
{% endblock response %}
